<!DOCTYPE html>
<html lang="en">

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Username</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>
            <h3 class="page-header">Users</h3>
            <div class="col-sm-9 table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Username</th>
                            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Password</th>
                            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Role</th>
                            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="form-control" placeholder="Username"></td>
                            <td><input type="password" class="form-control" placeholder="Password"></td>
                            <td><input type="text" class="form-control" placeholder="Role1, Role2"></td>
                            <td>
                                <a class="col-sm-1" href="#"><span class="glyphicon glyphicon-plus"></span></a>
                                <a class="col-sm-1" href="#"><span class="glyphicon glyphicon-ok"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>alice</td>
                            <td></td>
                            <td>student</td>
                            <td>
                                <a class="col-sm-1" href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="col-sm-1" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>bob</td>
                            <td></td>
                            <td>faculty | admin</td>
                            <td>
                                <a class="col-sm-1" href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="col-sm-1" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>charlie</td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="col-sm-1" href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="col-sm-1" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>