<div ng-show="message" class="alert alert-success" role="alert">{{message}}</div>
<div ng-show="error"  vclass="alert alert-danger"  role="alert">{{error}}</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Profile</h1>

    <div class="row placeholders">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">Username</label>
                <div class="col-sm-5">
                    <input ng-model="currentUser.username" type="text" class="form-control" id="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Password:</label>
                <div class="col-sm-5">
                    <input ng-model="currentUser.password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">First Name:</label>
                <div class="col-sm-5">
                    <input ng-model="currentUser.firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-3 control-label">Last Name:</label>
                <div class="col-sm-5">
                    <input ng-model="currentUser.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-5">
                    <input ng-model="currentUser.email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <a type="button" class="col-sm-offset-2 col-sm-5 btn btn-primary"
                   ng-click="updateUser(currentUser)">Update</a>
            </div>
        </form>
    </div>
</div>